# HTTP API Configuration
HTTP_API_HOST=localhost
HTTP_API_PORT=8080
HTTP_API_TLS_PORT=8443
HTTP_API_USE_TLS=false
HTTP_API_TLS_CERT_FILE=/path/to/cert.pem
HTTP_API_TLS_KEY_FILE=/path/to/key.pem
HTTP_API_TLS_CA_FILE=/path/to/ca.pem
HTTP_API_TLS_VERIFY=true
HTTP_API_CORS_ALLOW_ORIGIN=*

# RabbitMQ HTTP API Configuration
RABBITMQ_HTTP_API_HOST=localhost
RABBITMQ_HTTP_API_PORT=15672
RABBITMQ_HTTP_API_TLS_PORT=15671
RABBITMQ_HTTP_API_USE_TLS=false

# RabbitMQ AMQP Configuration
RABBITMQ_AMQP_HOST=localhost
RABBITMQ_AMQP_PORT=5672
RABBITMQ_AMQP_TLS_PORT=5671
RABBITMQ_AMQP_USE_TLS=false
RABBITMQ_AMQP_DEFAULT_VHOST=%2F

# RabbitMQ Superadmin Credentials
RABBITMQ_SUPERADMIN_USERNAME=guest
RABBITMQ_SUPERADMIN_PASSWORD=guest

# Database Configuration
DB_DIALECT=mysql # Options: mysql, sqlite
DB_HOST=localhost
DB_USER=user
DB_PASSWORD=password
DB_NAME=qdroid
